*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;  //1rem = 10px  10/16 = 62.5%
    box-sizing: inherit;

    @media only screen and (max-width: $bp-medium) {
        font-size: 56.25%;
    }
    
    
    
}
body {
    box-sizing: border-box;

    @media only screen and (max-width: $bp-small) {
        margin: 0 auto;
    }
}

.container {
    max-width: 114rem;
    padding: 0 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

//INDIVIDUAL CELEBRITY CONTAINER



img {
    width: 100%;
}

/* 
@media only screen and (max-width: $bp-medium) {
    font-size: 56.25%;
}

@media only screen and (max-width: $bp-medium) {
    font-size: 50%;
}
*/