*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

img {
  width: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: #2B2D2E; }

.container {
  max-width: 120rem;
  margin: 8rem auto; }

.header {
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.logo img {
  width: 4rem;
  height: 6rem;
  margin-left: 8rem; }

.nav {
  display: flex;
  list-style: none; }
  .nav__item {
    padding-left: 3rem; }
    .nav__item--1 {
      margin-right: auto; }
  .nav__link {
    text-decoration: none; }
