$font-display: 'Montserrat', sans-serif;

$padding-card: 0 1.5rem;


$color-grey-light-1: #F2F2F2;
$color-grey-light-2: #F6F6F6;
$color-grey-btn: #A4A5C1;
$color-primary: #2B2D2E;
$color-tertiary-dark: #4285F4;
$color-tertiary-light: #37B5FF;
$color-note: #818182;
$color-input: #495057;

$color-white: #FFFFFF;
$color-black: #000000;

$color-names: #212529;
$color-career: #747373;

$color-search-icon: #00B2FF;
$color-msg-icon: #DC3545;
$color-video-icon: #FD7E14;

$box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

$bp-large: 68.75em;     //1100px
$bp-medium: 56.25em;  //900px
$bp-small:  43.75em;     //700px
$bp-smallest: 31.25em;    // 500px
