@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  color: #2b2d2e;
}
header {
  position: fixed;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 0 30px 0;
  box-sizing: border-box;
  display: block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.sticky {
  background-color: #ffffff;
}
.logo,
nav,
#browse-head {
  display: inline-block;
}

.logo {
  margin-left: 100px;
  float: left;
}
.logo img {
  width: 40px;
}

#browse-head {
  font-size: 18px;
  margin: 10px 0 10px 100px;
  padding: 10px 0;
  color: #2b2d2e;
  display: inline-block;
}
#browse-head:hover {
  color: #007bff;
}

nav {
  float: right;
  margin-right: 30px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
}
nav ul li a.active {
  background: #37b5ff !important;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 10px;
  transition: 0.5s;
}
nav ul li a.login {
  background: #ffffff;
  text-transform: uppercase;
  border: 1px solid #37b5ff;
  margin-left: 10px;
  color: #37b5ff;
}
.fast-transition {
  position: relative; /* For positioning the pseudo-element */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.fast-transition::before {
  /* Position the pseudo-element. */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Create the box shadow at expanded size. */
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);

  /* Hidden by default. */
  opacity: 0;
  transition: opacity 500ms;
}

.fast-transition:hover::before {
  /* Show the pseudo-element on hover. */
  opacity: 1;
}

.toggle {
  padding: 0 20px;
  float: right;
  color: #000000;
  font-size: 30px;
  display: none;
  cursor: pointer;
}
img {
  width: 100%;
}

.categories {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}
.category {
  width: 20%;
  height: 60px;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  padding-top: 20px;
}
.category h4 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  width: 200px;
  border-bottom: 1px solid grey;
}
.three-column {
  display: flex;
  width: 80%;
  padding: 0 20px 0 20px;
  flex-wrap: wrap;
}
.column {
  width: 30%;
  margin: 1.66%;
}
.column img {
  width: 100%;
}
.column .names {
  height: auto;

  background-color: #f2f2f2;
  display: flex;
}
.names p {
  margin-left: 10px;
  font-size: 1.5rem;
  background-color: #f2f2f2;
  padding: 1.25rem;
}
.footer {
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 40px;
  overflow: hidden;
}
.footer .inner-footer {
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: 30px 0 40px 0;
  justify-content: space-around;
  align-items: center;
}
.logo-footer img {
  width: 40px;
}
.inner-footer .footer-nav ul li {
  display: inline-block;
  padding: 0 10px;
}
.inner-footer .footer-nav ul li a {
  color: #2b2d2e;
}
.footer-nav ul li a:hover {
  color: #007bff;
}
@media screen and (max-width: 440px) {
  #browse-head {
    margin-left: 20px;
  }
}
@media screen and (max-width: 728px) {
  #browse-head {
    margin-left: 20px;
    font-size: 18px;
    color: #2b2d2e;
  }
  .logo {
    margin-left: 20px;
    float: left;
  }
  .categories {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
  }
  .three-column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .three-column .column {
    flex-basis: 100%;
    width: 100% !important;
  }
  .category {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
  }
  .category h4 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    width: 90%;
    border-bottom: 1px solid grey;
  }
  .toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    padding-right: 50px;
    cursor: pointer;
    text-align: center;
  }
  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 40px;
  }
  .toggle.active:before {
    content: "\f00d";
  }
  header {
    display: inline-block;
  }
  header nav {
    display: none;
  }
  nav.active {
    display: block;
    width: 100%;
  }
  nav.active ul {
    display: block;
  }
  .footer .inner-footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    text-align: start;
    align-items: flex-start;
    padding: 20px;
  }
  .inner-footer .footer-nav ul li {
    display: flex;
    padding: 0 5px;
  }
  .inner-footer .footer-nav {
    padding: 30px 0 30px 0;
  }
  .inner-footer .footer-nav ul li {
    padding: 10px 0;
  }
  nav ul li a.active {
    color: #ffffff;
    text-transform: uppercase;
    width: 110px;
    margin-left: 50px;
    transition: 0.5s;
  }
  nav ul li a.login {
    background: #ffffff;
    width: 100px;
    text-transform: uppercase;
    margin-left: 50px;
    color: #37b5ff;
  }
  
}
